@charset "UTF-8";
/* CSS Document */

/*reset css*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
	list-style: none;
}

a{
	text-decoration: none;
	color: inherit;
}

.end{
	margin-right: 0 !important;
}

/*----------termina reset--------*/


/*-----font face-------*/

@font-face {
    font-family: 'RokkittRegular';
    src: url('../../../../Documents/fuentes/Rokkitt-webfont.eot');
    src: url('../../../../Documents/fuentes/Rokkitt-webfont.eot?#iefix') format('embedded-opentype'),
url('../../../../Documents/fuentes/Rokkitt-webfont.woff') format('woff'),
url('../../../../Documents/fuentes/Rokkitt-webfont.ttf') format('truetype'),
url('../../../../Documents/fuentes/Rokkitt-webfont.svg#RokkittRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
/*--------termina font face----------------*/


/*----------clearfix------------*/

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}

/*---------termina clearfix------------*/


.active_weego{
	color:#00bc6f;
	}

.banner_1{
    color: #00bc6f;
    font-size: 230%;
    text-align: left;
    font-weight: bold;
    line-height: 84%;
    font-family: 'Lato', sans-serif;
	}

	
	.blanco{
	color:#fff;
	font-size:100%;
	text-align:left;
	}
	
.titulos{
	float:left;
	}	
	

	
.boton{
  
    background-color: #00bc6f;
    border-radius: 45px 45px 45px 45px;
    font-size: 32%;
    font-family: Verdana, Geneva, sans-serif;
    padding: 17px 15px 18px 22px;
    font-weight: bold;
	}
	
.queesweego{
       font-size: 700%;
    color: #00bc6f;
    font-weight: bold;
    width: 120%;
	}	
	
.section-title-nuevo{
    width: 400px;
    float: right;
    margin-top: -709px;
    margin-right: -160px;
	}		
	
.definicionquees{
      text-align: right;
    color: #62259d;
    font-size: 205%;
    float: right;
    line-height: 1.1;
    font-weight: normal;
	}	
	
#persona{
    width: 70%;
    float: left;
    margin-left: 10%;

	}	
	
.fondo{
    background-image: url(../images/ciudad.png);
    background-position: bottom;
    background-repeat: repeat-x;
    height: 870px;
	}
	
.fondo_ciudad_blanco{
    background-image: url(../images/ciudad.png);
    background-position: bottom;
    background-repeat: repeat-x;

	}	

.verde{
	background-image: url(../images/verde.png);

	background-repeat:repeat-x;
}

.comofunciona{
    color: #fff;
    font-size: 500%;
    font-weight: bold;
}

.subtitulo{
     color: #fff;
    font-size: 114%;
    font-weight: bold;
    text-align: center;
}

.modem{
    margin-left: 19%;
    width: 60%;
}



.mio{
	width:200px;
	padding-right:60%;
}

.precio_verde{
     color: #4ebb73;
    margin-bottom: 3px;
    font-weight: bold;
    font-size: 150px;
    float: left;
    margin-left: 60px;

}
.ilimitado{
    text-transform: uppercase;
    color: #343434;
    font-size: 25px;
    font-weight: bold;
    clear: both;
}

.contrata{
      font-weight: 300;
    margin: 0px;
    font-size: 45px;
    margin-bottom: 0px;
    letter-spacing: 1px;
    color: #343434;

}

.signo_pesos{
font-size: 20px;
color: #c7c7c7;
}

.dolares{
    font-size: 30px;
    color: #562999;
    float: right;
    margin-right: 61px;
    margin-top: -88px;
    font-weight: bold;
}

li img{
     width: 30px;
    height: 28px;
    vertical-align: middle;
    padding-right: 5px;

}



.bold{
font-weight: bold;

}


	
.footer{
	background-color:#202020;
	}
	
.logofooter{
	float:left;
	}	
	
.list-inline {

    list-style: none;
    float: right;
    margin-top: -5px;
}	

.section-padding-verde {
    padding-top: 100px;
    background-image: url(../images/verde.png);
    background-repeat: repeat-x;
    vertical-align: baseline;
}


